<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <style>
      .message { font-size: 1.3em;}
    </style>
  </head>
  <body ng-controller="LunchCheckController">
	  <div class="container">
     <h1>Lunch Checker</h1>
		<label for="lunchName">Enter items (separated by commas):</label>
		<input type="text" id="lunchName" ng-model="lunchName" placeholder="list comma separated dishes you usually have for lunch e.g., apple, banana, orange" class="form-control">
		&nbsp;
         <div class="form-group">
             <button ng-click="countMe()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
		   <p>Number of items: <strong>{{wordCount}}</strong></p>
		   <p>{{lunchMessage}}</p>
         </div>
	  </div>
  </body>
</html>
